<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao DevBlog</h1>
  <p class="lead">Blog simples desenvolvido em Node.js utilizando a bilbioteca Express e o banco de dados MongoDB</p>
  <hr class="my-4">
  <p>Aqui você encontra diversas postagens relacianadas à tecnologia!</p>
  <a class="btn btn-primary btn-lg" href="usuarios/registro" role="button">Criar uma conta</a>
</div><br>

<hr>

<h2>Postagens recentes:</h2>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small>Categoria: {{categoria.nome}}</small><br>
        <small>Data de publicação: {{data}}</small>
    </div>
</div>

{{else}}
    <br>
    <h5>Nenhuma postagem registrada &#128531;</h5>
{{/each}}